.cosmo-chat {
  display: flex;
  height: 95vh;
  --tw-bg-opacity: 1;
  background-color: #19191a;
  color: white;
}

.sidebar {
  width: 20%;
  background-color: #222123;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 124.8px;
  height: 46.48px;
  padding-bottom: 20px;
}

.sidebar-item {
  height: 40px;
  width: 208px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.main-content {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.welcome-header h1 {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.welcome-header {
  justify-self: flex-end;
  justify-content: center;
  /* width: 60%; */
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.search-container input[type="text"] {
  width: 777.6px;
  height: 96px;
  padding: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #2c2c3d;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  width: 758px;
  margin-bottom: 20px;
  height: 100px;
}

.logo-section {
  flex: 1;
}

.info-section {
  flex: 3;
  padding: 0 20px;
}

.info-section h2 {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

.info-section p {
  margin: 5px 0;
  color: #fff;
}

.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.booking-button-section {
  flex: 1.8;
  display: flex;
  justify-content: flex-end;
}

.booking-button-section button {
  background-color: #007bff;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
